@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/**:root{
    --claro: #323232;
    --oscuro: #1b1b1b;
    --palido: #ffe7d0;
    --naranja: #fc6e20;
    --blanco: #ffffff;


    'Quicksand', sans-serif;
}*/
/**{
    border: solid black 1px;
}*/
html html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  /* IE */
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
  /* Chrome */
}

.titulo {
  font-family: "Quicksand", sans-serif;
}

.mibg-oscuro {
  background-color: #1b1b1b;
}

.mibg-rosa {
  background-color: #ffe7d0;
}

.mibg-claro {
  background-color: #323232;
}

.tx-claro {
  color: #ffffff;
}

/*----NAVBAR----*/
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fc6e20;
}

.separator {
  text-decoration: none;
  margin: auto;
  color: #fc6e20;
}

.navbar-dark .navbar-toggler {
  border-color: #1b1b1b;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler-icon:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28252, 110, 32, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo {
  height: 2rem;
}

/*----FIN NAVBAR----*/
/*----SLIDE----*/
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

/*----FIN SLIDE----*/
/*----SERVICIOS----*/
.card {
  border: none;
}

.servCirc {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: #e2e6fa;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 60%;
  height: 60%;
}

/*----FIN SERVICIOS----*/
/*----TRABAJOS----*/
.tarjeta-trabajo {
  position: relative;
  text-align: center;
}

.img-trabajo {
  width: 100%;
}

.tx-trabajo {
  opacity: 0;
  position: absolute;
  color: #ffffff;
  width: 100%;
  padding: 0 1rem;
}

.tarjeta-trabajo:hover .img-trabajo {
  filter: grayscale(80%) hue-rotate(180deg);
  opacity: 0.3;
  transition: all 0.1s ease-in-out;
}

.tarjeta-trabajo:hover .tx-trabajo {
  display: block;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  transition: opacity 1s;
}

/*----FIN TRABAJOS----*/
/*----NOSOTROS----*/
.img-nosotros {
  object-fit: cover;
  width: 80%;
  margin: auto;
}

/*----FIN NOSOTROS----*/
/*----CONTACTO----*/
.faqs {
  color: #ffffff;
}
.faqs ::-webkit-details-marker {
  float: right;
  margin-top: 3px;
  color: #fc6e20;
}
.faqs details {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}
.faqs details summary {
  outline: none;
}
.faqs details summary .naranja {
  color: #fc6e20;
}
.faqs details p {
  font-size: 14px;
  padding: 10px;
}

form {
  text-align: -webkit-center;
}
form .btn-contacto {
  width: 60%;
  background-color: #fc6e20;
  color: #ffffff;
  border-radius: 0px;
}
form .btn-contacto:focus {
  box-shadow: none;
}
form .input-per {
  text-align: left;
  width: 60%;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
}
form .input-per input {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: #1b1b1b;
  padding-top: 20px;
  border: none;
  outline: none;
}
form .input-per label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ffffff;
}
form .input-per label:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #fc6e20;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
form .input-per .content-n {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
form .input-per input:focus + .label-n .content-n,
form .input-per input:valid + .label-n .content-n {
  transform: translateY(-120%);
  font-size: 12px;
  color: #fc6e20;
}
form .input-per input:focus + .label-n:after,
form .input-per input:valid + .label-n:after {
  transform: translateX(0%);
}
form .textarea-per {
  text-align: left;
  width: 60%;
  position: relative;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
}
form .textarea-per textarea {
  width: 100%;
  height: 80%;
  color: #ffffff;
  background: #1b1b1b;
  padding-top: 20px;
  border: none;
  outline: none;
}
form .textarea-per label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ffffff;
}
form .textarea-per label:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #fc6e20;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
form .textarea-per .content-n {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
form .textarea-per textarea:focus + .label-n .content-n,
form .textarea-per textarea:valid + .label-n .content-n {
  transform: translateY(-360%);
  font-size: 12px;
  color: #fc6e20;
}
form .textarea-per textarea:focus + .label-n:after,
form .textarea-per textarea:valid + .label-n:after {
  transform: translateX(0%);
}

/*
.form-control:focus{
    box-shadow: none;
    border: solid 1px $naranja;
}

.btn-contacto{
    background-color: $naranja;
    color: $blanco;
}

.btn-contacto:focus{
    box-shadow: none;
}
*/
/*----FIN CONTACTO----*/
/*----FOOTER----*/
footer .map-contacto {
  object-fit: cover;
  width: 90%;
}
footer .nav-link {
  color: #ffffff;
}
footer .nav-link:hover {
  color: #fc6e20;
}
footer p {
  display: inline;
  color: #ffffff;
}
footer .fab {
  font-size: 2rem;
  color: #ffffff;
}
footer .fab:hover {
  cursor: pointer;
  color: #fc6e20;
}
footer .fas {
  font-size: 1.5rem;
}
footer .far {
  font-size: 1rem;
}

/*----FIN FOOTER----*/
/*---MEDIA---*/
@media (min-width: 992px) {
  .chico {
    display: none;
  }
}
@media (max-width: 991px) {
  .grande {
    display: none;
  }

  form .textarea-per, form .input-per, form .btn-contacto {
    width: 100%;
  }
}
/*---FIN MEDIA---*/

/*# sourceMappingURL=style.css.map */
